:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --strong-cyan-active: hsl(171, 66%, 54%);
    --light-blue: hsl(233, 100%, 69%);
    --light-blue-active: hsl(233, 100%, 79%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    --white: #fff;
    --btn-shadow: 0px 5px 25px -1px rgba(0,0,0,0.2);

    --ff-primary: 'Bai Jamjuree', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

body {
    font-family: var(--ff-primary);
    font-weight: 600;
    color: var(--grayish-blue);
    height: 100vh;
}

/* Header */
header {
    background-image: url(./images/bg-header-desktop.png);
    background-size: cover;
}

.header__top-section {
    flex-direction: column;
}

.top-section--logo {
    height: auto;
    width: 150px;
    margin: 15rem 0 4rem 0;
}

.top-section--title {
    color: var(--dark-grayish-blue);
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.top-section--text {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.4;
    opacity: 0.7;
    width: 850px;
    margin-bottom: 4rem;
    text-align: center;
}

.header__bottom-section {
    display: flex;
}

.btn {
    font-family: inherit;
    font-size: 1.3rem;
    color: var(--white);
    box-shadow: var(--btn-shadow);
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition-duration: .4s;
}

.bottom-section--left-btn {
    background-color: var(--strong-cyan);
    margin-right: .5rem;
}

.bottom-section--right-btn {
    background-color: var(--light-blue);
    margin-left: .5rem;
}

.bottom-section--left-btn:hover {
    background-color: var(--strong-cyan-active);  
}

.bottom-section--right-btn:hover {
    background-color: var(--light-blue-active);  
}

/* Features section */
.features__top-section {
    flex-direction: column;
}

.section-title {
    font-size: 2.5rem;
    margin-top: 20rem;
    margin-bottom: 1rem;
    font-weight: 600;
    text-align: center;
    color: var(--dark-grayish-blue);
}

.section-description {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    opacity: 0.7;
    width: 850px;
    margin-bottom: 4rem;  
    text-align: center;
}

.features__bottom-section {
    display: flex;
}

.computer-image {
    width: 1000px;
    height: auto;
    margin-left: -50px;
}

.bottom-section--text {
    margin-left: 8rem;
    margin-top: 7rem;
}

.feature-title {
    font-size: 1.8rem;
    color: var(--dark-grayish-blue);
    font-weight: 600;
    margin-bottom: 1rem;
}

.feature-description {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.7;
    opacity: 0.7;
    width: 425px;
    margin-bottom: 4rem;  
}

.clipboard-feature {
    flex-direction: column;
}

.clipboard-feature__image {
    width: 1200px;
    height: auto;
}

.tools-title {
    margin-top: 10rem;
}

.tools-description {
    margin: auto;
}

.tools__bottom-section {
    display: flex;
    justify-content: center;
    gap: 6rem;
    margin-top: 6rem;
}

.box {
    text-align: center;
    width: 350px;
    line-height: 1.8;
}

.box-logo {
    width: 4.375rem;
    height: auto;
    margin-bottom: 3rem;
}

.box-title {
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--dark-grayish-blue);
    margin-bottom: 1.5rem;
}

.box-description {
    font-size: 1rem;
    font-weight: 400;
    opacity: 0.7;
}

.box3-logo {
    margin-top: 1rem;
}

.companies {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15rem;
    gap: 8rem;
}

.availability-title {
    margin-top: 18rem;
}

.availability-description {
    margin: auto;
}

.availability__bottom-section {
    margin-top: 4rem;
}

footer {
    display: flex;
    margin: 20rem 0 0 0;
    padding-bottom: 2rem;
}

.footer-logo {
    width: 3.75rem;
    height: auto;
    margin-bottom: 2rem;
    margin-left: 15rem;
}

.column__text {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 2rem;
    opacity: 0.7;
    color: var(--dark-grayish-blue);
}

.column-1 {
    margin-left: 14rem;
    margin-right: 5rem; 
}

.column-2 {
    margin-right: 5rem; 
}

.footer__social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25rem; 
    margin-top: -0.8rem;   
}

.social-media {
    margin-left: 1.5rem;
}

/* RESPONSIVE VERSIONS */
/* 2560px / 160rem */
@media (min-width: 160rem) {
    .features__bottom-section, .footer {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer__social-media {
        margin-left: 14rem;   
    }  

    .footer-logo {
        width: 3.75rem;
        height: auto;
        margin-bottom: 2rem;
        margin-left: 0;
    }
}

/* 1440px / 90rem */
@media (max-width: 90rem) {
    .computer-image {
        width: 800px;
        height: auto;
        margin-left: -50px;
    } 
    
    .bottom-section--text {
        margin-left: 5rem;
        margin-top: 4rem;
    }

    .footer-logo {
        width: 3.75rem;
        height: auto;
        margin-left: 8rem;
    }

    .column-1 {
        margin-left: 10rem;
    }

    .footer__social-media {
        margin-left: 15rem; 
        margin-top: -1rem;   
    }
}

/* 1024px / 64rem */
@media (max-width: 64rem) {
    .features__bottom-section {
        flex-direction: column;
    }   

    .computer-image {
        width: 800px;
        margin-left: 0px;
    }

    .bottom-section--image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bottom-section--text {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 5rem;
        margin-left: 0;
    }

    .clipboard-feature__image {
        width: 900px;
        height: auto;
    }

    .box {
        text-align: center;
        width: 300px;
        line-height: 1.8;
    }

    .tools__bottom-section {
        gap: 2rem;
    }

    .companies {
        gap: 3rem;
    }

    .footer-logo {
        margin-left: 5rem;
    }

    .column-1 {
        margin-left: 6rem;
        margin-right: 4rem; 
    }

    .footer__social-media {
        margin-left: 4.5rem;   
    }
}

/* 768px / 48rem */
@media (max-width: 48rem) {
    header {
        background-image: url(./images/bg-header-mobile.png);
    }    

    .top-section--title {
        margin: 0 5rem 1rem 5rem;
        text-align: center;
    }

    .top-section--text {
        width: 500px;
        margin-bottom: 3rem;
        text-align: center;
    }

    .header__bottom-section {
        flex-direction: column;
    }

    .bottom-section--left-btn, .bottom-section--right-btn {
        margin-right: 0;
        margin-left: 0;
        width: 50%;
    }

    .bottom-section--left-btn {
        margin-bottom: 1rem;
    }

    .section-description {
        width: 600px;
    }

    .computer-image {
        width: 600px;
    }

    .section-title {
        margin-top: 10rem;
        margin-bottom: 1rem;
    }

    .clipboard-feature__image {
        width: 600px;
    }

    .tools__bottom-section {
        flex-direction: column;
        align-items: center;
        gap: 5rem;
        margin-top: 5rem;
    }

    .companies {
        flex-direction: column;
        margin-top: 10rem;
        gap: 6rem;
    }

    .availability__bottom-section {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 15rem 0 0 0;
    }

    .footer-logo {
        width: 5rem;
        margin-bottom: 2rem;
        margin-left: 0;
    }

    .column__text {
        margin-bottom: 2rem;
        text-align: center;
    }

    .column-1, .column-2, .social-media {
        margin-left: 0;
        margin-right: 0; 
    }

    .footer__social-media {
        margin-left: 0; 
        margin-top: 2rem;   
    }

    #twitter-logo {
        margin-right: 3rem;
        margin-left: 3rem;
    }
}