:root {
    --strong-cyan: hsl(171, 66%, 44%);
    --strong-cyan-active: hsl(171, 66%, 54%);
    --light-blue: hsl(233, 100%, 69%);
    --light-blue-active: hsl(233, 100%, 79%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    --white: #fff;
    --btn-shadow: 0px 5px 25px -1px rgba(0,0,0,0.2);

    --ff-primary: 'Bai Jamjuree', sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-center {
    text-align: center;
}

body {
    font-family: var(--ff-primary);
    font-weight: 600;
    color: var(--grayish-blue);
    height: 100vh;
}

/* Header */
header {
    background-image: url(./images/bg-header-desktop.png);
    background-size: cover;
}

.header__top-section {
    flex-direction: column;
}

.top-section--logo {
    height: auto;
    width: 150px;
    margin: 15rem 0 4rem 0;
}

.top-section--title {
    color: var(--dark-grayish-blue);
    font-size: 3.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.top-section--text {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.4;
    opacity: 0.7;
    width: 850px;
    margin-bottom: 4rem;
    text-align: center;
}

.header__bottom-section {
    display: flex;
}

.btn {
    font-family: inherit;
    font-size: 1.3rem;
    color: var(--white);
    box-shadow: var(--btn-shadow);
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition-duration: .4s;
}

.bottom-section--left-btn {
    background-color: var(--strong-cyan);
    margin-right: .5rem;
}

.bottom-section--right-btn {
    background-color: var(--light-blue);
    margin-left: .5rem;
}

.bottom-section--left-btn:hover {
    background-color: var(--strong-cyan-active);  
}

.bottom-section--right-btn:hover {
    background-color: var(--light-blue-active);  
}

/* Features section */
.features__top-section {
    flex-direction: column;
}

.section-title {
    font-size: 2.5rem;
    margin-top: 15rem;
    margin-bottom: 1rem;
}

.section-description {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    opacity: 0.7;
    width: 800px;
    margin-bottom: 4rem;  
    text-align: center;
}

.features__bottom-section {
    display: flex;
}

.computer-image {
    width: 1000px;
    height: auto;
    margin-left: -50px;
}

.bottom-section--text {
    margin-left: 8rem;
    margin-top: 7rem;
}

.feature-title {
    font-size: 1.8rem;
    color: var(--dark-grayish-blue);
    font-weight: 600;
    margin-bottom: 1rem;
}

.feature-description {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.7;
    opacity: 0.7;
    width: 425px;
    margin-bottom: 4rem;  
}

/* RESPONSIVE */
/* Medium: 768px */
@media (max-width: 48rem) {
    header {
        background-image: url(./images/bg-header-mobile.png);
        background-size: cover;
    }

    .top-section--title {
        text-align: center;
        margin: 0 1rem 1rem 1rem;
    }

    .top-section--text {
        width: 700px;
    }

    .header__bottom-section {
        flex-direction: column;
        justify-content: center;
    }
}
/* Mobile L: 425px */
@media (max-width: 26.5625rem) {
    header {
        background-image: url(./images/bg-header-mobile.png);
        background-size: cover;
    }
    
    .top-section--title {
        margin: 0 1.5rem;
        margin-bottom: 1rem;
        font-size: 2.25rem;
    }
    
    .top-section--text {
        width: 340px;
        font-size: 1.125rem;
    } 
    
    .header__bottom-section {
        flex-direction: column;
        justify-content: center;
    }

    .bottom-section--right-btn {
        margin-top: 1rem;
        margin-left: 0;
    }

    .bottom-section--left-btn, .bottom-section--right-btn {
        width: 80%;
    }

    .section-title {
        font-size: 2rem;
        margin-top: 10rem;
    }

    .section-description {
        font-size: 1.1rem;
        width: 325px;
        margin-bottom: 4rem;  
        text-align: center;
    }

    .features__bottom-section {
        flex-direction: column;
    }

    .bottom-section--image {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .computer-image {
        width: 350px;
        height: auto;
        margin-left: 0;
    }

    .bottom-section--text {
        margin-left: 0;
        margin-top: 5rem;
    }

    .feature-title {
        font-size: 1.8rem;
        text-align: center;
    }
    
    .feature-description {
        font-size: 1.1rem;
        width: 325px;
        margin-bottom: 4rem;  
        text-align: center;
        margin-left: 3rem;
    }
}